.header {
  background-color: #111827;
  color: #f9fafb;
  padding: 1rem;


  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h1 {
      font-size: 1.25rem;
      font-weight: bold;
    }

    nav {
      a {
        color: #f9fafb;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        border-radius: 0.25rem;
        transition: background-color 0.2s;

        &:hover {
          background-color: #4f46e5;
        }

        &.active {
          background-color: #4f46e5;
        }
      }
    }
  }
}
.header-content h1 {
  cursor: pointer;
}
